.flex {
    height: 16.55vw;
    max-height: 248px;
    width: 69vw;
    max-width: 1035px;
    display: flex;
    flex-direction: row;
}

.reel {
    background-image: url('/images/reel.jpg');
    background-repeat: no-repeat;
    width: 23vw;
    max-width: 345px;
    height: 16.55vw;
    max-height: 248px;
    background-size: contain;
    display: inline;
    position: relative;
}

.movie-container {
    width: 97%;
    height: 76%;
    position: absolute;
    bottom: 12%;
    left: 1.5%;
}

.info {
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0%;
    right: 0%;
    background-color: rgba(80, 80, 80, 0.5);
    border-top-left-radius: 10% 50%;
    border-top-right-radius: 10% 50%;
}

.title {
    padding-left: 5%;
    padding-top: 0%;
    font-size: clamp(0.5rem, 1.8vw, 1.5rem);
    font-weight: 600;
}

.stats {
    height: 30%;
    width: 100%;
    padding-left: 5%;
}

.rating {
    background-image: url('/images/star.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 2vw;
    padding-right: 1vw;
    font-family: var(--font-caladea);
    font-size: clamp(0.1rem, 1.2vw, 1rem);
    font-weight: 600;
}

.likes {
    background-image: url('/images/heart.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 2vw;
    font-family: var(--font-caladea);
    font-size: clamp(0.1rem, 1.2vw, 1rem);
    font-weight: 600;
}

.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    .flex {
        height: 30vw;
        width: 42vw;
        max-width: 300px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .reel {
        background-image: url('/images/reel.jpg');
        background-repeat: no-repeat;
        width: 42vw;
        min-width: 300px;
        max-width: 300px;
        height: 31.1vw;
        background-size: contain;
    }

    .movie-container {
        width: 41vw;
        min-width: 288px;
        max-width: 288px;
        height: 23.5vw;
        position: absolute;
        padding-top: 5vw;
        left: 0.5vw;
    }

    .info {
        width: 41vw;
        min-width: 288px;
        max-width: 288px;
        height: 9vw;
        position: absolute;
        top: 13vw;
        left: 0;
        background-color: rgba(80, 80, 80, 0.5);
        border-top-left-radius: 10% 50%;
        border-top-right-radius: 10% 50%;
    }

    .title {
        padding-left: 2.3vw;
        padding-top: 0%;
        font-size: clamp(0.5rem, 3.6vw, 1.5rem);
        font-weight: 600;
    }

    .stats {
        height: 10vw;
        width: 46vw;
        padding-left: 2.3vw;
    }

    .rating {
        background-image: url('/images/star.png');
        background-size: 2.5vw;
        background-repeat: no-repeat;
        padding-left: 3vw;
        padding-right: 2vw;
        font-family: var(--font-caladea);
        font-size: clamp(0.1rem, 2.4vw, 1rem);
        font-weight: 600;
    }
    
    .likes {
        background-image: url('/images/heart.png');
        background-size: 2.5vw;
        background-repeat: no-repeat;
        padding-left: 3vw;
        font-family: var(--font-caladea);
        font-size: clamp(0.1rem, 2.4vw, 1rem);
        font-weight: 600;
    }
}