.navbg{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: var(--dark-primary);
    border-bottom: 4px solid var(--primary);
}

.navlist{
    justify-content: space-around;
    list-style: none;
    width: 100%;
    font-size: clamp(0.2rem, 2.5vw, 1.5rem);
    padding: 6px;
}

.nav-list-link {
    position: relative;
    text-decoration: none;
}

.nav-list-link::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: var(--secondary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    
}

.nav-list-link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.active{
    color: var(--secondary);
}

.nav-list-button{
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 1px 5px;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 1px 0.5px 5px 0px black;
    transition: background-color 300ms ease;
    display: inline-block; /* Make the span inline-block to cover the text */
    width: 100%; /* Make it span the entire width of the text */
    text-align: center; /* Optional: This ensures the text inside is centered */
}

.nav-list-button:hover{
    background-color: var(--secondary);
}