@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #AC3F25;
  --dark-primary: #79321D;
  --light-primary: #e8dbd8;
  --secondary: #FFB700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-raleway);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input::placeholder {
  color: grey;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 400;
}

input {
  all: unset;
  width: 100%;
  padding: 8px;
  padding-top: 12px;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 8px;
  font-size: 16px;
  color: 'black';
  border: 2px solid var(--primary);
  border-radius: 6px;
}

.button-login-signup {
  align-self: center;
  background-color: var(--primary);
  width: 40%;
  padding-top: 5px;
  padding-bottom: 3px;
  margin-top: 8px;
  font-size: 24px;
  color: white;
  border: 3px solid var(--dark-primary);
  border-radius: 6px;
}

.button-toggle-login-signup {
  align-self: center;
  margin-top: 8px;
  font-size: 16px;
  color: var(--primary);
}

.button-logout {
  align-self: center;
  background-color: var(--primary);
  width: 6%;
  min-width: 100px;
  padding: 6px;
  padding-top: 8px;
  margin-top: 8px;
  font-size: 16px;
  color: white;
  border: 2px solid var(--dark-primary);
  border-radius: 3px;
}

/* global.css */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
