@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #AC3F25;
  --dark-primary: #79321D;
  --light-primary: #e8dbd8;
  --secondary: #FFB700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-raleway);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input::placeholder {
  color: grey;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 400;
}

/* .movie-result {
  display: inline-block;
}

.movie-result-info{
  float: left;
} */
