.search-bar-container {
    display: flex;
    flex-direction: row;
    width: 40%;
    padding: 20px 0 0 0;
    gap: 10px;
    height: clamp(50px, 7vw, 70px);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
}

.search-bar {
    width: 90%;
    min-width: 276px;
    background-color: var(--light-primary);
    border-radius: 10px;
    border-width: 2.5px;
    border-color: var(--dark-primary);
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.search-filters {
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--light-primary);
    border-radius: 10px;
    border-width: 2.5px;
    border-color: var(--dark-primary);
    float: right;
}

@media screen and (max-width: 768px) {
    .search-bar-container {
        padding: 20px 5px 0 5px;
    }
  }